.weather-app {
  text-align: center;
  
}

@font-face {
  font-family: 'roboto-thin';
  src: url(../public/fonts/Roboto-Thin.ttf);

}
.Location {
  font-family: roboto-thin;
  position:absolute;
  font-size:100px;
  color:white;
  left:35%;   
  top:20%;
}

.Textbox{
  font-family: roboto-thin;
  font-size:35px;
  color:white;
  width:230px;
  height:40px;
  position:absolute;
  top:20%;
  left:54%;
  border-color: transparent;
  background-color: transparent;
}
::placeholder {
    color:white;
    border:wrap;

}
.InvisButton { 
  background-color: transparent;
  border-color: transparent;
}
.Search {
  position:absolute;
  top:19%;
  left:67%;
  width:70px;
  height: 70px;
}
.Location {
  font-family: roboto-thin;
  color:white;
  position:absolute;
  top:25%;
  left:37%;
  width:500px;
  font-size: 50px;
  font-weight: thin;
  text-align: center;
}
.Temperature {
  font-family: roboto-thin;
  color:white;
  position:absolute;
  top:37%;
  left:45%;
  font-size: 90px;
  font-weight: thin;
  text-align: center;
}
.ConditionText {
  font-family: roboto-thin;
  color:white;
  font-weight: thin;
  font-size:40px;
  position:absolute;
  top:65%;
  left:30%;
  right:30%;
  text-align: center;
  height:100px;

  text-align: center;
  
}
.ConditionIcon {
  position:absolute;
  top:53%;
  left:47%;
  text-align: center;
  width:150px;
  height:150px;
  background:transparent;
  border-color: transparent;
}
.Weather {
  position:absolute;
  top:49%;
  left:67%;
  width:70px;
  height: 70px;
}
.Title-font {
  font-family: roboto-thin;
  font-weight:bolder;
  font-size:50px;
  font-weight:lighter;
  color:white;
}
.Initials-font {
  font-family: roboto-thin;
  position:absolute;
  font-weight: bolder;
  margin-left:1080px;
  color:black;
  font-size: 25px;
}

.Clouds {
  height:1000px;
  width:2000px;
}

.Weather-app-header {
  background-color: #79a3f5;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:0%;
  left:0%;
}

.Location-label {
  font-family:roboto-thin;
  position:absolute;
  font-size:25px;
  color:white;
  left:30%;   
  top:20%;
}
.onHover:hover{
  transform: scale(1.1);
}


